## STEP1: Initilization of packagaes and importing Data

In [1]:
import numpy as np
# numpy is a numeric python and it is a open source library in python which is used working with arrays.

In [2]:
import pandas as pd
# Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures.
# pandas is used to load the data, prepare, manipulate, model, and analyze.

In [3]:
import matplotlib.pyplot as plt
# Matplotlib is an amazing visualization library in Python for 2D plots of arrays.

In [4]:
import seaborn as sns
#Seaborn is a library mostly used for statistical plotting in Python. It is built on top of Matplotlib and provides beautiful default styles and color palettes to make statistical plots more attractive.

In [5]:
import warnings # Ignores any warning
warnings.filterwarnings("ignore")

In [6]:
# reading the datasets
train = pd.read_csv("C:/Users/DELL/Desktop/Train.csv")
test = pd.read_csv("C:/Users/DELL/Desktop/Test.csv")

In [7]:
# basic information about train data
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9523 entries, 0 to 9522
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Identifier_Of_Item         9523 non-null   object
 1   Weight_Of_Item             7874 non-null   float64
 2   Content_Of_Fat             9523 non-null   object
 3   Visibility_Of_Item         9523 non-null   float64
 4   Type_Of_Item               9523 non-null   object
 5   MRP_Of_Item                9523 non-null   float64
 6   Identifier_Of_Outlet       9523 non-null   object
 7   Outlet_Establishment_Year  9523 non-null   int64
 8   Store_Capacity             6842 non-null   object
 9   Outlet_Location_Type       9523 non-null   object
 10  Outlet_Type                9523 non-null   object
 11  IsNewCust                  8679 non-null   object
 12  IsSpecialDay               9488 non-null   object
 13  Advertising_Of_Item        9458 non-null   object
 14  Population_Density         8816 non-null   object
 15  Product_Packing            9463 non-null   object
 16  Discount_Of_Item           9087 non-null   object
 17  Item_Outlet_Sales          9523 non-null   float64
dtypes: float64(4), int64(1), object(13)
memory usage: 1.3+ MB

In [8]:
train.isnull().sum()

Identifier_Of_Item              0
Weight_Of_Item               1649
Content_Of_Fat                  0
Visibility_Of_Item              0
Type_Of_Item                    0
MRP_Of_Item                     0
Identifier_Of_Outlet            0
Outlet_Establishment_Year       0
Store_Capacity               2681
Outlet_Location_Type            0
Outlet_Type                     0
IsNewCust                     844
IsSpecialDay                   35
Advertising_Of_Item            65
Population_Density            707
Product_Packing                60
Discount_Of_Item              436
Item_Outlet_Sales               0
dtype: int64

In [9]:
train['Weight_Of_Item']=train['Weight_Of_Item'].fillna(train.groupby('Identifier_Of_Item')['Weight_Of_Item'].transform('mean'))

In [10]:
train.Weight_Of_Item.isnull().sum()

4

In [11]:
#Import mode function:
from scipy.stats import mode

#Determing the mode for each
Store_Capacity_mode = train.pivot_table(values='Store_Capacity', columns='Outlet_Type',aggfunc=lambda x:x.mode())
Store_Capacity_mode

Outlet_Type,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
Store_Capacity,Small,Small,Medium,Medium

In [12]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Store_Capacity_mode.loc['Store_Capacity'][Store_Capacity_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(train['Store_Capacity'].isnull()))
train['Store_Capacity'] = train[['Store_Capacity','Outlet_Type']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(train['Store_Capacity'].isnull()))

Orignal #missing: 2681
Final #missing: 0

In [13]:
Visibility_Of_Item_avg = train.pivot_table(values='Visibility_Of_Item',index='Identifier_Of_Item')

In [14]:
def impute_visibility_mean(cols):
    visibility = cols[0]
    item = cols[1]
    if visibility == 0:
        return Visibility_Of_Item_avg['Visibility_Of_Item'][Visibility_Of_Item_avg.index == item]
    else:
        return visibility

print ('Original #zeros: %d'%sum(train['Visibility_Of_Item'] == 0))
train['Visibility_Of_Item'] = train[['Visibility_Of_Item','Identifier_Of_Item']].apply(impute_visibility_mean,axis=1).astype(float)
print ('Final #zeros: %d'%sum(train['Visibility_Of_Item'] == 0))

Original #zeros: 591
Final #zeros: 0

In [15]:
from scipy.stats import mode

#Determing the mode for each
Product_Packing_mode = train.pivot_table(values='Product_Packing', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
Product_Packing_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & HousehOld,Cosmetics,Daily Staple,Fashion Garments,Fruits and Vegetables,Health and Hygiene,Home & Kitchen,Leather Goods,Others,Snack items,Soft Drinks,Starchy Foods,Toys & Game Products,cake item
Product_Packing,good,good,good,good,good,good,good,good,good,good,good,good,good,good,good,good

In [16]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Product_Packing_mode.loc['Product_Packing'][Product_Packing_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(train['Product_Packing'].isnull()))
train['Product_Packing'] = train[['Product_Packing','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(train['Product_Packing'].isnull()))

Orignal #missing: 60
Final #missing: 0

In [17]:
from scipy.stats import mode

#Determing the mode for each
Population_Density_mode = train.pivot_table(values='Population_Density', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
Population_Density_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & HousehOld,Cosmetics,Daily Staple,Fashion Garments,Fruits and Vegetables,Health and Hygiene,Home & Kitchen,Leather Goods,Others,Snack items,Soft Drinks,Starchy Foods,Toys & Game Products,cake item
Population_Density,Level1,Level1,Level1,Level1,Level1,Level1,Level1,Level1,Level1,Level1,Level1,Level1,Level1,Level1,Level1,Level1

In [18]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Population_Density_mode.loc['Population_Density'][Population_Density_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(train['Population_Density'].isnull()))
train['Population_Density'] = train[['Population_Density','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(train['Population_Density'].isnull()))

Orignal #missing: 707
Final #missing: 0

In [19]:
from scipy.stats import mode

#Determing the mode for each
Advertising_Of_Item_mode = train.pivot_table(values='Advertising_Of_Item', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
Advertising_Of_Item_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & HousehOld,Cosmetics,Daily Staple,Fashion Garments,Fruits and Vegetables,Health and Hygiene,Home & Kitchen,Leather Goods,Others,Snack items,Soft Drinks,Starchy Foods,Toys & Game Products,cake item
Advertising_Of_Item,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes

In [20]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Advertising_Of_Item_mode.loc['Advertising_Of_Item'][Advertising_Of_Item_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(train['Advertising_Of_Item'].isnull()))
train['Advertising_Of_Item'] = train[['Advertising_Of_Item','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(train['Advertising_Of_Item'].isnull()))

Orignal #missing: 65
Final #missing: 0

In [21]:
from scipy.stats import mode

#Determing the mode for each
IsNewCust_mode = train.pivot_table(values='IsNewCust', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
IsNewCust_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & HousehOld,Cosmetics,Daily Staple,Fashion Garments,Fruits and Vegetables,Health and Hygiene,Home & Kitchen,Leather Goods,Others,Snack items,Soft Drinks,Starchy Foods,Toys & Game Products,cake item
IsNewCust,New,New,New,New,New,Old,New,Old,New,New,New,New,New,New,New,New

In [22]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return IsNewCust_mode.loc['IsNewCust'][IsNewCust_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(train['IsNewCust'].isnull()))
train['IsNewCust'] = train[['IsNewCust','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(train['IsNewCust'].isnull()))

Orignal #missing: 844
Final #missing: 0

In [23]:
from scipy.stats import mode

#Determing the mode for each
IsSpecialDay_mode = train.pivot_table(values='IsSpecialDay', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
IsSpecialDay_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & HousehOld,Cosmetics,Daily Staple,Fashion Garments,Fruits and Vegetables,Health and Hygiene,Home & Kitchen,Leather Goods,Others,Snack items,Soft Drinks,Starchy Foods,Toys & Game Products,cake item
IsSpecialDay,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali

In [24]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return IsSpecialDay_mode.loc['IsSpecialDay'][IsSpecialDay_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(train['IsSpecialDay'].isnull()))
train['IsSpecialDay'] = train[['IsSpecialDay','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(train['IsSpecialDay'].isnull()))

Orignal #missing: 35
Final #missing: 0

In [25]:
from scipy.stats import mode

#Determing the mode for each
Discount_Of_Item_mode = train.pivot_table(values='Discount_Of_Item', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
Discount_Of_Item_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & HousehOld,Cosmetics,Daily Staple,Fashion Garments,Fruits and Vegetables,Health and Hygiene,Home & Kitchen,Leather Goods,Others,Snack items,Soft Drinks,Starchy Foods,Toys & Game Products,cake item
Discount_Of_Item,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes

In [26]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Discount_Of_Item_mode.loc['Discount_Of_Item'][Discount_Of_Item_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(train['Discount_Of_Item'].isnull()))
train['Discount_Of_Item'] = train[['Discount_Of_Item','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(train['Discount_Of_Item'].isnull()))

Orignal #missing: 436
Final #missing: 0

In [27]:
train = train.dropna()

In [28]:
train.isnull().sum()

Identifier_Of_Item           0
Weight_Of_Item               0
Content_Of_Fat               0
Visibility_Of_Item           0
Type_Of_Item                 0
MRP_Of_Item                  0
Identifier_Of_Outlet         0
Outlet_Establishment_Year    0
Store_Capacity               0
Outlet_Location_Type         0
Outlet_Type                  0
IsNewCust                    0
IsSpecialDay                 0
Advertising_Of_Item          0
Population_Density           0
Product_Packing              0
Discount_Of_Item             0
Item_Outlet_Sales            0
dtype: int64

In [29]:
test.isnull().sum()

Identifier_Of_Item              0
Weight_Of_Item               1159
Content_Of_Fat                  0
Visibility_Of_Item              0
Type_Of_Item                    0
MRP_Of_Item                     0
Identifier_Of_Outlet            0
Outlet_Establishment_Year       0
Store_Capacity               1886
Outlet_Location_Type            0
Outlet_Type                     0
IsNewCust                     597
IsSpecialDay                   25
Advertising_Of_Item            45
Population_Density            497
Product_Packing                37
Discount_Of_Item              303
dtype: int64

In [30]:
test['Weight_Of_Item']=test['Weight_Of_Item'].fillna(test.groupby('Identifier_Of_Item')['Weight_Of_Item'].transform('mean'))

In [31]:
test.Weight_Of_Item.isnull().sum()

21

In [32]:
from scipy.stats import mode

#Determing the mode for each
IsNewCust_mode = test.pivot_table(values='IsNewCust', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
IsNewCust_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & Household,Cosemetics,Daily Staple,Electronics,Fashion Garments,Fruits and Vegetables,Health and Hygiene,Home & Kitchen,Leather Goods,Others,Snack Items,Soft Drinks,Starchy Foods,Toys & Game products
IsNewCust,New,New,New,New,New,New,New,New,New,New,New,New,New,"[New, Old]",New,New

In [33]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return IsNewCust_mode.loc['IsNewCust'][IsNewCust_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(test['IsNewCust'].isnull()))
test['IsNewCust'] = test[['IsNewCust','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(test['IsNewCust'].isnull()))

Orignal #missing: 597
Final #missing: 0

In [34]:
from scipy.stats import mode

#Determing the mode for each
IsSpecialDay_mode = test.pivot_table(values='IsSpecialDay', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
IsSpecialDay_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & Household,Cosemetics,Daily Staple,Electronics,Fashion Garments,Fruits and Vegetables,Health and Hygiene,Home & Kitchen,Leather Goods,Others,Snack Items,Soft Drinks,Starchy Foods,Toys & Game products
IsSpecialDay,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali

In [35]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return IsSpecialDay_mode.loc['IsSpecialDay'][IsSpecialDay_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(test['IsSpecialDay'].isnull()))
test['IsSpecialDay'] = test[['IsSpecialDay','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(test['IsSpecialDay'].isnull()))

Orignal #missing: 25
Final #missing: 0

In [36]:
from scipy.stats import mode

#Determing the mode for each
Advertising_Of_Item_mode = test.pivot_table(values='Advertising_Of_Item', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
Advertising_Of_Item_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & Household,Cosemetics,Daily Staple,Electronics,Fashion Garments,Fruits and Vegetables,Health and Hygiene,Home & Kitchen,Leather Goods,Others,Snack Items,Soft Drinks,Starchy Foods,Toys & Game products
Advertising_Of_Item,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes

In [37]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Advertising_Of_Item_mode.loc['Advertising_Of_Item'][Advertising_Of_Item_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(test['Advertising_Of_Item'].isnull()))
test['Advertising_Of_Item'] = test[['Advertising_Of_Item','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(test['Advertising_Of_Item'].isnull()))

Orignal #missing: 45
Final #missing: 0

In [38]:
test.isnull().sum()

Identifier_Of_Item              0
Weight_Of_Item                 21
Content_Of_Fat                  0
Visibility_Of_Item              0
Type_Of_Item                    0
MRP_Of_Item                     0
Identifier_Of_Outlet            0
Outlet_Establishment_Year       0
Store_Capacity               1886
Outlet_Location_Type            0
Outlet_Type                     0
IsNewCust                       0
IsSpecialDay                    0
Advertising_Of_Item             0
Population_Density            497
Product_Packing                37
Discount_Of_Item              303
dtype: int64

In [39]:
from scipy.stats import mode

#Determing the mode for each
Population_Density_mode = test.pivot_table(values='Population_Density', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
Population_Density_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & Household,Cosemetics,Daily Staple,Electronics,Fashion Garments,Fruits and Vegetables,Health and Hygiene,Home & Kitchen,Leather Goods,Others,Snack Items,Soft Drinks,Starchy Foods,Toys & Game products
Population_Density,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1,Level 1

In [40]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Population_Density_mode.loc['Population_Density'][Population_Density_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(test['Population_Density'].isnull()))
test['Population_Density'] = test[['Population_Density','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(test['Population_Density'].isnull()))

Orignal #missing: 497
Final #missing: 0

In [41]:
from scipy.stats import mode

#Determing the mode for each
Product_Packing_mode = test.pivot_table(values='Product_Packing', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
Product_Packing_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & Household,Cosemetics,Daily Staple,Electronics,Fashion Garments,Fruits and Vegetables,Health and Hygiene,Home & Kitchen,Leather Goods,Others,Snack Items,Soft Drinks,Starchy Foods,Toys & Game products
Product_Packing,good,good,good,good,good,good,good,good,good,good,good,good,good,good,good,good

In [42]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Product_Packing_mode.loc['Product_Packing'][Product_Packing_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(test['Product_Packing'].isnull()))
test['Product_Packing'] = test[['Product_Packing','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(test['Product_Packing'].isnull()))

Orignal #missing: 37
Final #missing: 0

In [43]:
from scipy.stats import mode

#Determing the mode for each
Discount_Of_Item_mode = test.pivot_table(values='Discount_Of_Item', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
Discount_Of_Item_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & Household,Cosemetics,Daily Staple,Electronics,Fashion Garments,Fruits and Vegetables,Health and Hygiene,Home & Kitchen,Leather Goods,Others,Snack Items,Soft Drinks,Starchy Foods,Toys & Game products
Discount_Of_Item,No,Yes,No,No,No,No,No,No,No,No,No,No,No,No,Yes,No

In [44]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Discount_Of_Item_mode.loc['Discount_Of_Item'][Discount_Of_Item_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(test['Discount_Of_Item'].isnull()))
test['Discount_Of_Item'] = test[['Discount_Of_Item','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(test['Discount_Of_Item'].isnull()))

Orignal #missing: 303
Final #missing: 0

In [45]:
from scipy.stats import mode

#Determing the mode for each
Store_Capacity_mode = test.pivot_table(values='Store_Capacity', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
Store_Capacity_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & Household,Cosemetics,Daily Staple,Electronics,Fashion Garments,Fruits and Vegetables,Health and Hygiene,Home & Kitchen,Leather Goods,Others,Snack Items,Soft Drinks,Starchy Foods,Toys & Game products
Store_Capacity,Medium,Medium,Medium,Medium,Medium,Small,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Medium,Small

In [46]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Store_Capacity_mode.loc['Store_Capacity'][Store_Capacity_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(test['Store_Capacity'].isnull()))
test['Store_Capacity'] = test[['Store_Capacity','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(test['Store_Capacity'].isnull()))

Orignal #missing: 1886
Final #missing: 0

In [47]:
test = test.dropna()

In [48]:
test.isnull().sum()

Identifier_Of_Item           0
Weight_Of_Item               0
Content_Of_Fat               0
Visibility_Of_Item           0
Type_Of_Item                 0
MRP_Of_Item                  0
Identifier_Of_Outlet         0
Outlet_Establishment_Year    0
Store_Capacity               0
Outlet_Location_Type         0
Outlet_Type                  0
IsNewCust                    0
IsSpecialDay                 0
Advertising_Of_Item          0
Population_Density           0
Product_Packing              0
Discount_Of_Item             0
dtype: int64

## STEP4: Feature Engineering

In [49]:
# Join Train and Test Dataset
train['source']='train'
test['source']='test'

data = pd.concat([train,test], ignore_index = True)
print(train.shape, test.shape, data.shape)

(9519, 19) (6660, 18) (16179, 19)

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16179 entries, 0 to 16178
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Identifier_Of_Item         16179 non-null  object
 1   Weight_Of_Item             16179 non-null  float64
 2   Content_Of_Fat             16179 non-null  object
 3   Visibility_Of_Item         16179 non-null  float64
 4   Type_Of_Item               16179 non-null  object
 5   MRP_Of_Item                16179 non-null  float64
 6   Identifier_Of_Outlet       16179 non-null  object
 7   Outlet_Establishment_Year  16179 non-null  int64
 8   Store_Capacity             16179 non-null  object
 9   Outlet_Location_Type       16179 non-null  object
 10  Outlet_Type                16179 non-null  object
 11  IsNewCust                  16179 non-null  object
 12  IsSpecialDay               16179 non-null  object
 13  Advertising_Of_Item        16179 non-null  object
 14  Population_Density         16179 non-null  object
 15  Product_Packing            16179 non-null  object
 16  Discount_Of_Item           16179 non-null  object
 17  Item_Outlet_Sales          9519 non-null   float64
 18  source                     16179 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 2.3+ MB

In [51]:
data.pivot_table(values='Item_Outlet_Sales', columns='Type_Of_Item')

Type_Of_Item,Baby Products,Breakfast,Cleaning & HousehOld,Cosmetics,Daily Staple,Fashion Garments,Fruits and Vegetables,Health and Hygiene,Home & Kitchen,Leather Goods,Others,Snack items,Soft Drinks,Starchy Foods,Toys & Game Products,cake item
Item_Outlet_Sales,2239.429863,2162.507574,2276.08326,1950.873151,2275.565895,2202.866845,2270.069587,2002.32172,2205.964902,2446.458656,1925.59437,2133.538423,1986.160906,2392.881115,2081.525626,2193.259656

In [52]:
Visibility_Of_Item_avg = data.pivot_table(values='Visibility_Of_Item',index='Identifier_Of_Item')

In [53]:
def impute_visibility_mean(cols):
    visibility = cols[0]
    item = cols[1]
    if visibility == 0:
        return Visibility_Of_Item_avg['Visibility_Of_Item'][Visibility_Of_Item_avg.index == item]
    else:
        return visibility

print ('Original #zeros: %d'%sum(data['Visibility_Of_Item'] == 0))
data['Visibility_Of_Item'] = data[['Visibility_Of_Item','Identifier_Of_Item']].apply(impute_visibility_mean,axis=1).astype(float)
print ('Final #zeros: %d'%sum(data['Visibility_Of_Item'] == 0))

Original #zeros: 416
Final #zeros: 0

In [54]:
data['Type_Of_Item_Combined'] = data['Identifier_Of_Item'].apply(lambda x: x[0:2])

data['Type_Of_Item_Combined'] = data['Type_Of_Item_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})
data['Type_Of_Item_Combined'].value_counts()

Food              11339
Non-Consumable     3093
Drinks             1505
Name: Type_Of_Item_Combined, dtype: int64

In [55]:
print('Original Categories:')
print(data['Content_Of_Fat'].value_counts())

print('\nModified Categories:')
data['Content_Of_Fat'] = data['Content_Of_Fat'].replace({'LF':'Low Fat',
                                                             'reg':'Regular',
                                                             'low fat':'Low Fat'})

print(data['Content_Of_Fat'].value_counts())

Original Categories:
Low Fat    9670
Regular    5489
LF          597
reg         222
low fat     201
Name: Content_Of_Fat, dtype: int64

Modified Categories:
Low Fat    10468
Regular     5711
Name: Content_Of_Fat, dtype: int64

In [56]:
data.loc[data['Type_Of_Item_Combined']=="Non-Consumable",'Content_Of_Fat'] = "Non-Edible"
data['Content_Of_Fat'].value_counts()

Low Fat       7375
Regular       5711
Non-Edible    3093
Name: Content_Of_Fat, dtype: int64

# Step5: Feature Transformation

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16179 entries, 0 to 16178
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Identifier_Of_Item         16179 non-null  object
 1   Weight_Of_Item             16179 non-null  float64
 2   Content_Of_Fat             16179 non-null  object
 3   Visibility_Of_Item         16179 non-null  float64
 4   Type_Of_Item               16179 non-null  object
 5   MRP_Of_Item                16179 non-null  float64
 6   Identifier_Of_Outlet       16179 non-null  object
 7   Outlet_Establishment_Year  16179 non-null  int64
 8   Store_Capacity             16179 non-null  object
 9   Outlet_Location_Type       16179 non-null  object
 10  Outlet_Type                16179 non-null  object
 11  IsNewCust                  16179 non-null  object
 12  IsSpecialDay               16179 non-null  object
 13  Advertising_Of_Item        16179 non-null  object
 14  Population_Density         16179 non-null  object
 15  Product_Packing            16179 non-null  object
 16  Discount_Of_Item           16179 non-null  object
 17  Item_Outlet_Sales          9519 non-null   float64
 18  source                     16179 non-null  object
 19  Type_Of_Item_Combined      15937 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 2.5+ MB

In [58]:
def cal_outlet_year(df):
    data['Outlet_Years'] = 2019 - data['Outlet_Establishment_Year']
    data['Outlet_Years'].describe()

In [59]:
cal_outlet_year(data)

In [60]:
data['IsSpecialDay'] = data['IsSpecialDay'].astype('category').cat.codes

In [61]:
data['Advertising_Of_Item'] = data['Advertising_Of_Item'].astype('category').cat.codes

In [62]:
data['Population_Density'] = data['Population_Density'].astype('category').cat.codes

In [63]:
data['Product_Packing'] = data['Product_Packing'].astype('category').cat.codes

In [64]:
data['Discount_Of_Item'] = data['Discount_Of_Item'].astype('category').cat.codes

In [65]:
data['Identifier_Of_Item'] = data['Identifier_Of_Item'].astype('category').cat.codes

In [66]:
data['Content_Of_Fat'] = data['Content_Of_Fat'].astype('category').cat.codes

In [67]:
data['Type_Of_Item'] = data['Type_Of_Item'].astype('category').cat.codes

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16179 entries, 0 to 16178
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Identifier_Of_Item         16179 non-null  int16
 1   Weight_Of_Item             16179 non-null  float64
 2   Content_Of_Fat             16179 non-null  int8
 3   Visibility_Of_Item         16179 non-null  float64
 4   Type_Of_Item               16179 non-null  int8
 5   MRP_Of_Item                16179 non-null  float64
 6   Identifier_Of_Outlet       16179 non-null  object
 7   Outlet_Establishment_Year  16179 non-null  int64
 8   Store_Capacity             16179 non-null  object
 9   Outlet_Location_Type       16179 non-null  object
 10  Outlet_Type                16179 non-null  object
 11  IsNewCust                  16179 non-null  object
 12  IsSpecialDay               16179 non-null  int8
 13  Advertising_Of_Item        16179 non-null  int8
 14  Population_Density         16179 non-null  int8
 15  Product_Packing            16179 non-null  int8
 16  Discount_Of_Item           16179 non-null  int8
 17  Item_Outlet_Sales          9519 non-null   float64
 18  source                     16179 non-null  object
 19  Type_Of_Item_Combined      15937 non-null  object
 20  Outlet_Years               16179 non-null  int64
dtypes: float64(4), int16(1), int64(2), int8(7), object(7)
memory usage: 1.7+ MB

In [69]:
data['Store_Capacity'] = data['Store_Capacity'].astype('category').cat.codes

In [70]:
data['Outlet_Location_Type'] = data['Outlet_Location_Type'].astype('category').cat.codes

In [71]:
data['Outlet_Type'] = data['Outlet_Type'].astype('category').cat.codes

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16179 entries, 0 to 16178
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Identifier_Of_Item         16179 non-null  int16
 1   Weight_Of_Item             16179 non-null  float64
 2   Content_Of_Fat             16179 non-null  int8
 3   Visibility_Of_Item         16179 non-null  float64
 4   Type_Of_Item               16179 non-null  int8
 5   MRP_Of_Item                16179 non-null  float64
 6   Identifier_Of_Outlet       16179 non-null  object
 7   Outlet_Establishment_Year  16179 non-null  int64
 8   Store_Capacity             16179 non-null  int8
 9   Outlet_Location_Type       16179 non-null  int8
 10  Outlet_Type                16179 non-null  int8
 11  IsNewCust                  16179 non-null  object
 12  IsSpecialDay               16179 non-null  int8
 13  Advertising_Of_Item        16179 non-null  int8
 14  Population_Density         16179 non-null  int8
 15  Product_Packing            16179 non-null  int8
 16  Discount_Of_Item           16179 non-null  int8
 17  Item_Outlet_Sales          9519 non-null   float64
 18  source                     16179 non-null  object
 19  Type_Of_Item_Combined      15937 non-null  object
 20  Outlet_Years               16179 non-null  int64
dtypes: float64(4), int16(1), int64(2), int8(10), object(4)
memory usage: 1.4+ MB

In [73]:
data.Item_Outlet_Sales = data.Item_Outlet_Sales.fillna(data.Item_Outlet_Sales.mean())

In [74]:
data['Identifier_Of_Outlet'] = data['Identifier_Of_Outlet'].astype('category').cat.codes

In [75]:
data.drop(['Type_Of_Item','Outlet_Establishment_Year'],axis=1,inplace=True)

In [76]:
data['Type_Of_Item_Combined'] = data['Type_Of_Item_Combined'].astype('category').cat.codes

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16179 entries, 0 to 16178
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Identifier_Of_Item     16179 non-null  int16
 1   Weight_Of_Item         16179 non-null  float64
 2   Content_Of_Fat         16179 non-null  int8
 3   Visibility_Of_Item     16179 non-null  float64
 4   MRP_Of_Item            16179 non-null  float64
 5   Identifier_Of_Outlet   16179 non-null  int8
 6   Store_Capacity         16179 non-null  int8
 7   Outlet_Location_Type   16179 non-null  int8
 8   Outlet_Type            16179 non-null  int8
 9   IsNewCust              16179 non-null  object
 10  IsSpecialDay           16179 non-null  int8
 11  Advertising_Of_Item    16179 non-null  int8
 12  Population_Density     16179 non-null  int8
 13  Product_Packing        16179 non-null  int8
 14  Discount_Of_Item       16179 non-null  int8
 15  Item_Outlet_Sales      16179 non-null  float64
 16  source                 16179 non-null  object
 17  Type_Of_Item_Combined  16179 non-null  int8
 18  Outlet_Years           16179 non-null  int64
dtypes: float64(4), int16(1), int64(1), int8(11), object(2)
memory usage: 1.1+ MB

In [78]:
data.drop(['source'],axis=1,inplace=True)

In [79]:
data.drop(['IsNewCust'],axis=1,inplace=True)

In [80]:
X = data.drop('Item_Outlet_Sales',axis=1)
y = data.Item_Outlet_Sales.values

## Implementation of Bayesian optimization

In [81]:
from sklearn.model_selection import train_test_split

In [82]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state = 43)

In [83]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

In [84]:
data_dmatrix = xgb.DMatrix(data=X_train, label=y_train)

In [85]:
params = {"objective":'reg:squarederror', "colsample_bytree":0.5, "learning_rate":0.2, "max_depth":10, "alpha":20}

In [86]:
xg_m = xgb.train(params=params, dtrain=data_dmatrix, num_boost_round=50)

In [87]:
data_dmatrix_test = xgb.DMatrix(data=X_test)

In [88]:
preds = xg_m.predict(data_dmatrix_test)

In [91]:
def fcv(max_depth, gamma, min_child_weight, subsample, colsample_bytree, learning_rate, num_boost_round):
  params = {"objective":'reg:squarederror', "max_depth":int(max_depth), 'gamma':gamma, 'min_child_weight':min_child_weight, 'subsample':subsample, "colsample_bytree":colsample_bytree, "learning_rate":learning_rate}
  cv_results=xgb.cv(dtrain=data_dmatrix, params=params, nfold=10, num_boost_round=int(num_boost_round), early_stopping_rounds=10, metrics='rmse', as_pandas=True)
  return -cv_results['test-rmse-mean'].min()

In [ ]:
!pip install bayesian-optimization

In [92]:
from bayes_opt import BayesianOptimization

#Now, create a dictionary for the boundaries we should search within, and call
#the bayesian optimization function!
dict_cv = {
          'max_depth': (2, 12),
          'gamma': (0.001, 10.0),
          'min_child_weight': (0, 20),
          'subsample': (0.4, 1.0),
          'colsample_bytree': (0.4, 1.0),
          'learning_rate': (0.1, 1.0),
          'num_boost_round' :(30, 100)
          }



XGB_BO = BayesianOptimization(fcv, dict_cv) #Creating the optimizer
XGB_BO.maximize(init_points=10, n_iter=20, acq='ei', xi=0.0) #Running optimization!

|   iter    |  target   | colsam... |   gamma   | learni... | max_depth | min_ch... | num_bo... | subsample |
-------------------------------------------------------------------------------------------------------------
|  1        | -879.9    |  0.7198   |  9.25     |  0.7907   |  5.854    |  4.453    |  62.84    |  0.4391   |
|  2        | -836.8    |  0.5691   |  2.331    |  0.566    |  4.868    |  12.5     |  87.29    |  0.8734   |
|  3        | -890.7    |  0.5711   |  6.292    |  0.3927   |  11.8     |  17.74    |  82.53    |  0.4643   |
|  4        | -891.5    |  0.9505   |  7.75     |  0.8869   |  11.66    |  11.08    |  96.48    |  0.5121   |
|  5        | -847.1    |  0.5471   |  3.792    |  0.3761   |  6.821    |  5.976    |  61.95    |  0.7502   |
|  6        | -913.1    |  0.4337   |  8.917    |  0.901    |  6.487    |  0.8205   |  64.93    |  0.9357   |
|  7        | -855.5    |  0.6339   |  0.9705   |  0.8343   |  3.218    |  18.43    |  88.04    |  0.8604   |
|  8        | -845.2    |  0.98     |  8.897    |  0.9489   |  6.55     |  11.12    |  30.72    |  0.7929   |
|  9        | -866.9    |  0.7066   |  5.218    |  0.6968   |  7.278    |  9.594    |  39.74    |  0.6917   |
|  10       | -834.7    |  0.7067   |  9.064    |  0.1632   |  3.496    |  6.676    |  60.64    |  0.8147   |
|  11       | -831.6    |  0.96     |  7.678    |  0.2327   |  3.89     |  5.314    |  60.56    |  0.8933   |
|  12       | -831.8    |  1.0      |  6.638    |  0.1      |  3.26     |  6.627    |  59.4     |  0.9906   |
|  13       | -874.6    |  1.0      |  8.215    |  0.1      |  2.078    |  4.948    |  58.95    |  1.0      |
|  14       | -828.2    |  0.8885   |  7.127    |  0.1425   |  4.15     |  6.703    |  60.55    |  0.9057   |
|  15       | -842.9    |  1.0      |  6.251    |  0.8709   |  4.831    |  6.099    |  59.53    |  0.668    |
|  16       | -872.7    |  1.0      |  6.692    |  0.1      |  2.94     |  6.558    |  61.34    |  1.0      |
|  17       | -835.4    |  0.82     |  6.926    |  0.5299   |  4.066    |  7.735    |  59.69    |  0.9655   |
|  18       | -828.4    |  0.8533   |  7.72     |  0.1      |  4.269    |  6.426    |  59.91    |  0.9098   |
|  19       | -831.6    |  1.0      |  7.811    |  0.1      |  4.563    |  6.318    |  60.66    |  0.4      |
|  20       | -861.1    |  0.4      |  7.156    |  0.1      |  4.372    |  6.201    |  60.24    |  1.0      |
|  21       | -851.0    |  0.7615   |  1.653    |  0.6976   |  3.951    |  12.07    |  87.6     |  0.7039   |
|  22       | -840.3    |  1.0      |  7.427    |  0.6288   |  4.174    |  6.931    |  60.22    |  0.6412   |
|  23       | -843.7    |  0.6974   |  7.384    |  0.4181   |  3.299    |  6.667    |  59.79    |  0.5423   |
|  24       | -856.8    |  0.8435   |  7.686    |  0.7772   |  4.587    |  5.763    |  59.75    |  0.4208   |
|  25       | -832.5    |  0.9617   |  7.124    |  0.3599   |  4.268    |  7.697    |  60.36    |  0.725    |
|  26       | -828.2    |  1.0      |  7.939    |  0.1      |  4.049    |  6.598    |  60.39    |  1.0      |
|  27       | -828.3    |  1.0      |  7.201    |  0.1      |  4.131    |  7.043    |  60.08    |  1.0      |
|  28       | -835.8    |  0.9379   |  7.134    |  0.1889   |  3.722    |  6.267    |  58.59    |  0.4381   |
|  29       | -828.4    |  1.0      |  7.265    |  0.1      |  4.483    |  7.031    |  60.79    |  0.8896   |
|  30       | -832.9    |  1.0      |  6.286    |  0.1      |  3.944    |  7.15     |  59.1     |  0.5359   |
=============================================================================================================

In [93]:
params = XGB_BO.max['params']
params['max_depth'] = int(params['max_depth'])

In [94]:
RMSE = np.sqrt(mean_squared_error(preds, y_test))
print(RMSE)

852.9985357444682