In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings # Ignores any warning
warnings.filterwarnings("ignore")
train = pd.read_csv("C:/Users/DELL/Desktop/Train.csv")
test = pd.read_csv("C:/Users/DELL/Desktop/Test.csv")

In [2]:
train['source']='train'
test['source']='test'

data = pd.concat([train,test], ignore_index = True)
print(train.shape, test.shape, data.shape)

(9523, 19) (6681, 18) (16204, 19)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16204 entries, 0 to 16203
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Identifier_Of_Item         16204 non-null  object
 1   Weight_Of_Item             13396 non-null  float64
 2   Content_Of_Fat             16204 non-null  object
 3   Visibility_Of_Item         16204 non-null  float64
 4   Type_Of_Item               16204 non-null  object
 5   MRP_Of_Item                16204 non-null  float64
 6   Identifier_Of_Outlet       16204 non-null  object
 7   Outlet_Establishment_Year  16204 non-null  int64
 8   Store_Capacity             11637 non-null  object
 9   Outlet_Location_Type       16204 non-null  object
 10  Outlet_Type                16204 non-null  object
 11  IsNewCust                  14763 non-null  object
 12  IsSpecialDay               16144 non-null  object
 13  Advertising_Of_Item        16094 non-null  object
 14  Population_Density         15000 non-null  object
 15  Product_Packing            16107 non-null  object
 16  Discount_Of_Item           15465 non-null  object
 17  Item_Outlet_Sales          9523 non-null   float64
 18  source                     16204 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 2.3+ MB

In [4]:
data.isnull().sum()

Identifier_Of_Item              0
Weight_Of_Item               2808
Content_Of_Fat                  0
Visibility_Of_Item              0
Type_Of_Item                    0
MRP_Of_Item                     0
Identifier_Of_Outlet            0
Outlet_Establishment_Year       0
Store_Capacity               4567
Outlet_Location_Type            0
Outlet_Type                     0
IsNewCust                    1441
IsSpecialDay                   60
Advertising_Of_Item           110
Population_Density           1204
Product_Packing                97
Discount_Of_Item              739
Item_Outlet_Sales            6681
source                          0
dtype: int64

In [5]:
data['Weight_Of_Item']=data['Weight_Of_Item'].fillna(data.groupby('Identifier_Of_Item')['Weight_Of_Item'].transform('mean'))

In [6]:
data.Weight_Of_Item.isnull().sum()

0

In [7]:
#Import mode function:
from scipy.stats import mode

#Determing the mode for each
Store_Capacity_mode = data.pivot_table(values='Store_Capacity', columns='Outlet_Type',aggfunc=lambda x:x.mode())
Store_Capacity_mode

Outlet_Type,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
Store_Capacity,Small,Small,Medium,Medium

In [8]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Store_Capacity_mode.loc['Store_Capacity'][Store_Capacity_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(data['Store_Capacity'].isnull()))
data['Store_Capacity'] = data[['Store_Capacity','Outlet_Type']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(data['Store_Capacity'].isnull()))

Orignal #missing: 4567
Final #missing: 0

In [9]:
from scipy.stats import mode

#Determing the mode for each
IsNewCust_mode = data.pivot_table(values='IsNewCust', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
IsNewCust_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & HousehOld,Cleaning & Household,Cosemetics,Cosmetics,Daily Staple,Electronics,Fashion Garments,Fruits and Vegetables,...,Home & Kitchen,Leather Goods,Others,Snack Items,Snack items,Soft Drinks,Starchy Foods,Toys & Game Products,Toys & Game products,cake item
IsNewCust,New,New,New,New,New,New,New,New,New,New,...,New,New,New,New,New,New,New,New,New,New

In [10]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return IsNewCust_mode.loc['IsNewCust'][IsNewCust_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(data['IsNewCust'].isnull()))
data['IsNewCust'] = data[['IsNewCust','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(data['IsNewCust'].isnull()))

Orignal #missing: 1441
Final #missing: 0

In [11]:
from scipy.stats import mode

#Determing the mode for each
IsSpecialDay_mode = data.pivot_table(values='IsSpecialDay', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
IsSpecialDay_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & HousehOld,Cleaning & Household,Cosemetics,Cosmetics,Daily Staple,Electronics,Fashion Garments,Fruits and Vegetables,...,Home & Kitchen,Leather Goods,Others,Snack Items,Snack items,Soft Drinks,Starchy Foods,Toys & Game Products,Toys & Game products,cake item
IsSpecialDay,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,...,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali,Diwali

In [12]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return IsSpecialDay_mode.loc['IsSpecialDay'][IsSpecialDay_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(data['IsSpecialDay'].isnull()))
data['IsSpecialDay'] = data[['IsSpecialDay','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(data['IsSpecialDay'].isnull()))

Orignal #missing: 60
Final #missing: 0

In [13]:
from scipy.stats import mode

#Determing the mode for each
Advertising_Of_Item_mode = data.pivot_table(values='Advertising_Of_Item', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
Advertising_Of_Item_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & HousehOld,Cleaning & Household,Cosemetics,Cosmetics,Daily Staple,Electronics,Fashion Garments,Fruits and Vegetables,...,Home & Kitchen,Leather Goods,Others,Snack Items,Snack items,Soft Drinks,Starchy Foods,Toys & Game Products,Toys & Game products,cake item
Advertising_Of_Item,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,...,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes

In [14]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Advertising_Of_Item_mode.loc['Advertising_Of_Item'][Advertising_Of_Item_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(data['Advertising_Of_Item'].isnull()))
data['Advertising_Of_Item'] = data[['Advertising_Of_Item','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(data['Advertising_Of_Item'].isnull()))

Orignal #missing: 110
Final #missing: 0

In [15]:
from scipy.stats import mode

#Determing the mode for each
Population_Density_mode = data.pivot_table(values='Population_Density', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
Population_Density_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & HousehOld,Cleaning & Household,Cosemetics,Cosmetics,Daily Staple,Electronics,Fashion Garments,Fruits and Vegetables,...,Home & Kitchen,Leather Goods,Others,Snack Items,Snack items,Soft Drinks,Starchy Foods,Toys & Game Products,Toys & Game products,cake item
Population_Density,Level1,Level1,Level1,Level 1,Level 1,Level1,Level1,Level 1,Level1,Level1,...,Level1,Level1,Level1,Level 1,Level1,Level1,Level1,Level1,Level 1,Level1

In [16]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Population_Density_mode.loc['Population_Density'][Population_Density_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(data['Population_Density'].isnull()))
data['Population_Density'] = data[['Population_Density','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(data['Population_Density'].isnull()))

Orignal #missing: 1204
Final #missing: 0

In [17]:
from scipy.stats import mode

#Determing the mode for each
Discount_Of_Item_mode = data.pivot_table(values='Discount_Of_Item', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
Discount_Of_Item_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & HousehOld,Cleaning & Household,Cosemetics,Cosmetics,Daily Staple,Electronics,Fashion Garments,Fruits and Vegetables,...,Home & Kitchen,Leather Goods,Others,Snack Items,Snack items,Soft Drinks,Starchy Foods,Toys & Game Products,Toys & Game products,cake item
Discount_Of_Item,Yes,Yes,Yes,No,No,Yes,Yes,No,Yes,Yes,...,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,No,Yes

In [18]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Discount_Of_Item_mode.loc['Discount_Of_Item'][Discount_Of_Item_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(data['Discount_Of_Item'].isnull()))
data['Discount_Of_Item'] = data[['Discount_Of_Item','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(data['Discount_Of_Item'].isnull()))

Orignal #missing: 739
Final #missing: 0

In [19]:
data.isnull().sum()

Identifier_Of_Item              0
Weight_Of_Item                  0
Content_Of_Fat                  0
Visibility_Of_Item              0
Type_Of_Item                    0
MRP_Of_Item                     0
Identifier_Of_Outlet            0
Outlet_Establishment_Year       0
Store_Capacity                  0
Outlet_Location_Type            0
Outlet_Type                     0
IsNewCust                       0
IsSpecialDay                    0
Advertising_Of_Item             0
Population_Density              0
Product_Packing                97
Discount_Of_Item                0
Item_Outlet_Sales            6681
source                          0
dtype: int64

In [20]:
from scipy.stats import mode

#Determing the mode for each
Product_Packing_mode = data.pivot_table(values='Product_Packing', columns='Type_Of_Item',aggfunc=lambda x:x.mode())
Product_Packing_mode

Type_Of_Item,Baby Products,Breakfast,Cleaning & HousehOld,Cleaning & Household,Cosemetics,Cosmetics,Daily Staple,Electronics,Fashion Garments,Fruits and Vegetables,...,Home & Kitchen,Leather Goods,Others,Snack Items,Snack items,Soft Drinks,Starchy Foods,Toys & Game Products,Toys & Game products,cake item
Product_Packing,good,good,good,good,good,good,good,good,good,good,...,good,good,good,good,good,good,good,good,good,good

In [21]:
def impute_size_mode(cols):
    Size = cols[0]
    Type = cols[1]
    if pd.isnull(Size):
        return Product_Packing_mode.loc['Product_Packing'][Product_Packing_mode.columns == Type][0]
    else:
        return Size

print ('Orignal #missing: %d'%sum(data['Product_Packing'].isnull()))
data['Product_Packing'] = data[['Product_Packing','Type_Of_Item']].apply(impute_size_mode,axis=1)
print ('Final #missing: %d'%sum(data['Product_Packing'].isnull()))

Orignal #missing: 97
Final #missing: 0

In [22]:
data.Item_Outlet_Sales = data.Item_Outlet_Sales.fillna(data.Item_Outlet_Sales.mean())

In [23]:
data.isnull().sum()

Identifier_Of_Item           0
Weight_Of_Item               0
Content_Of_Fat               0
Visibility_Of_Item           0
Type_Of_Item                 0
MRP_Of_Item                  0
Identifier_Of_Outlet         0
Outlet_Establishment_Year    0
Store_Capacity               0
Outlet_Location_Type         0
Outlet_Type                  0
IsNewCust                    0
IsSpecialDay                 0
Advertising_Of_Item          0
Population_Density           0
Product_Packing              0
Discount_Of_Item             0
Item_Outlet_Sales            0
source                       0
dtype: int64

In [24]:
data['Type_Of_Item_Combined'] = data['Identifier_Of_Item'].apply(lambda x: x[0:2])

data['Type_Of_Item_Combined'] = data['Type_Of_Item_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})
data['Type_Of_Item_Combined'].value_counts()

Food              11362
Non-Consumable     3094
Drinks             1506
Name: Type_Of_Item_Combined, dtype: int64

In [25]:
print('Original Categories:')
print(data['Content_Of_Fat'].value_counts())

print('\nModified Categories:')
data['Content_Of_Fat'] = data['Content_Of_Fat'].replace({'LF':'Low Fat',
                                                             'reg':'Regular',
                                                             'low fat':'Low Fat'})

print(data['Content_Of_Fat'].value_counts())

Original Categories:
Low Fat    9683
Regular    5499
LF          598
reg         222
low fat     202
Name: Content_Of_Fat, dtype: int64

Modified Categories:
Low Fat    10483
Regular     5721
Name: Content_Of_Fat, dtype: int64

In [26]:
data.loc[data['Type_Of_Item_Combined']=="Non-Consumable",'Content_Of_Fat'] = "Non-Edible"
data['Content_Of_Fat'].value_counts()

Low Fat       7389
Regular       5721
Non-Edible    3094
Name: Content_Of_Fat, dtype: int64

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16204 entries, 0 to 16203
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Identifier_Of_Item         16204 non-null  object
 1   Weight_Of_Item             16204 non-null  float64
 2   Content_Of_Fat             16204 non-null  object
 3   Visibility_Of_Item         16204 non-null  float64
 4   Type_Of_Item               16204 non-null  object
 5   MRP_Of_Item                16204 non-null  float64
 6   Identifier_Of_Outlet       16204 non-null  object
 7   Outlet_Establishment_Year  16204 non-null  int64
 8   Store_Capacity             16204 non-null  object
 9   Outlet_Location_Type       16204 non-null  object
 10  Outlet_Type                16204 non-null  object
 11  IsNewCust                  16204 non-null  object
 12  IsSpecialDay               16204 non-null  object
 13  Advertising_Of_Item        16204 non-null  object
 14  Population_Density         16204 non-null  object
 15  Product_Packing            16204 non-null  object
 16  Discount_Of_Item           16204 non-null  object
 17  Item_Outlet_Sales          16204 non-null  float64
 18  source                     16204 non-null  object
 19  Type_Of_Item_Combined      15962 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 2.5+ MB

In [28]:
data.drop(['Type_Of_Item','source'],inplace=True,axis=1)

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16204 entries, 0 to 16203
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Identifier_Of_Item         16204 non-null  object
 1   Weight_Of_Item             16204 non-null  float64
 2   Content_Of_Fat             16204 non-null  object
 3   Visibility_Of_Item         16204 non-null  float64
 4   MRP_Of_Item                16204 non-null  float64
 5   Identifier_Of_Outlet       16204 non-null  object
 6   Outlet_Establishment_Year  16204 non-null  int64
 7   Store_Capacity             16204 non-null  object
 8   Outlet_Location_Type       16204 non-null  object
 9   Outlet_Type                16204 non-null  object
 10  IsNewCust                  16204 non-null  object
 11  IsSpecialDay               16204 non-null  object
 12  Advertising_Of_Item        16204 non-null  object
 13  Population_Density         16204 non-null  object
 14  Product_Packing            16204 non-null  object
 15  Discount_Of_Item           16204 non-null  object
 16  Item_Outlet_Sales          16204 non-null  float64
 17  Type_Of_Item_Combined      15962 non-null  object
dtypes: float64(4), int64(1), object(13)
memory usage: 2.2+ MB

In [30]:
data.shape

(16204, 18)

In [31]:
data.isnull().sum()

Identifier_Of_Item             0
Weight_Of_Item                 0
Content_Of_Fat                 0
Visibility_Of_Item             0
MRP_Of_Item                    0
Identifier_Of_Outlet           0
Outlet_Establishment_Year      0
Store_Capacity                 0
Outlet_Location_Type           0
Outlet_Type                    0
IsNewCust                      0
IsSpecialDay                   0
Advertising_Of_Item            0
Population_Density             0
Product_Packing                0
Discount_Of_Item               0
Item_Outlet_Sales              0
Type_Of_Item_Combined        242
dtype: int64

In [32]:
data = data.dropna()

In [33]:
dataset=data

## Creating a Pipeline

In [34]:
data = dataset.sample(frac=0.9, random_state=786)
data_unseen = dataset.drop(data.index)

data.reset_index(drop=True, inplace=True)
data_unseen.reset_index(drop=True, inplace=True)

print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions: ' + str(data_unseen.shape))

Data for Modeling: (14366, 18)
Unseen Data For Predictions: (1596, 18)

In [35]:
import pycaret

In [36]:
from pycaret.regression import *

In [37]:
exp1 = setup(data = data, target = 'Item_Outlet_Sales', session_id=123)

In [38]:
models()

,Name,Reference,Turbo
ID,,,
lr,Linear Regression,sklearn.linear_model._base.LinearRegression,True
lasso,Lasso Regression,sklearn.linear_model._coordinate_descent.Lasso,True
ridge,Ridge Regression,sklearn.linear_model._ridge.Ridge,True
en,Elastic Net,sklearn.linear_model._coordinate_descent.Elast...,True
lar,Least Angle Regression,sklearn.linear_model._least_angle.Lars,True
llar,Lasso Least Angle Regression,sklearn.linear_model._least_angle.LassoLars,True
omp,Orthogonal Matching Pursuit,sklearn.linear_model._omp.OrthogonalMatchingPu...,True
br,Bayesian Ridge,sklearn.linear_model._bayes.BayesianRidge,True
ard,Automatic Relevance Determination,sklearn.linear_model._bayes.ARDRegression,False
par,Passive Aggressive Regressor,sklearn.linear_model._passive_aggressive.Passi...,True
ransac,Random Sample Consensus,sklearn.linear_model._ransac.RANSACRegressor,False
tr,TheilSen Regressor,sklearn.linear_model._theil_sen.TheilSenRegressor,False
huber,Huber Regressor,sklearn.linear_model._huber.HuberRegressor,True
kr,Kernel Ridge,sklearn.kernel_ridge.KernelRidge,False
svm,Support Vector Regression,sklearn.svm._classes.SVR,False
knn,K Neighbors Regressor,sklearn.neighbors._regression.KNeighborsRegressor,True
dt,Decision Tree Regressor,sklearn.tree._classes.DecisionTreeRegressor,True
rf,Random Forest Regressor,sklearn.ensemble._forest.RandomForestRegressor,True
et,Extra Trees Regressor,sklearn.ensemble._forest.ExtraTreesRegressor,True
ada,AdaBoost Regressor,sklearn.ensemble._weight_boosting.AdaBoostRegr...,True
gbr,Gradient Boosting Regressor,sklearn.ensemble._gb.GradientBoostingRegressor,True
mlp,MLP Regressor,sklearn.neural_network._multilayer_perceptron....,False
xgboost,Extreme Gradient Boosting,xgboost.sklearn.XGBRegressor,True
lightgbm,Light Gradient Boosting Machine,lightgbm.sklearn.LGBMRegressor,True

In [39]:
best_model = compare_models(exclude = ['ransac','tr','huber','mlp','et','svm','kr','par','ard','br','omp','llar','lar','en','rf','lightgbm','knn'])

In [40]:
best_model

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=-1, num_parallel_tree=1,
             objective='reg:squarederror', random_state=123, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='auto',
             validate_parameters=1, verbosity=0)

In [41]:
xgboost = create_model('xgboost')

In [44]:
tuned_sciopt = tune_model(xgboost, search_library = 'scikit-optimize')

In [45]:
print(tuned_sciopt)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.9962590536997258, gamma=0,
             gpu_id=-1, importance_type='gain', interaction_constraints='',
             learning_rate=0.02232625052729537, max_delta_step=0, max_depth=9,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=153, n_jobs=-1, num_parallel_tree=1,
             objective='reg:squarederror', random_state=123,
             reg_alpha=1.008430031524327e-08, reg_lambda=0.0005714018386876504,
             scale_pos_weight=3.8013713546631984, subsample=0.8980414500809213,
             tree_method='auto', validate_parameters=1, verbosity=0)

In [46]:
save_model(tuned_sciopt,'deployement')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[],
                                       target='Item_Outlet_Sales',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeri...
                               max_delta_step=0, max_depth=9, min_child_weight=1,
                               missing=nan, monotone_constraints='()',
                               n_estimators=153, n_jobs=-1, num_parallel_tree=1,
                               objective='reg:squarederror', random_state=123,
                               reg_alpha=1.008430031524327e-08,
                               reg_lambda=0.0005714018386876504,
                               scale_pos_weight=3.8013713546631984,
                               subsample=0.8980414500809213, tree_method='auto',
                               validate_parameters=1, verbosity=0)]],
          verbose=False),
 'deployement.pkl')

In [47]:
deployement = load_model('deployement')

Transformation Pipeline and Model Successfully Loaded

In [48]:
deployement

Pipeline(memory=None,
         steps=[('dtypes',
                 DataTypes_Auto_infer(categorical_features=[],
                                      display_types=True, features_todrop=[],
                                      id_columns=[], ml_usecase='regression',
                                      numerical_features=[],
                                      target='Item_Outlet_Sales',
                                      time_features=[])),
                ('imputer',
                 Simple_Imputer(categorical_strategy='not_available',
                                fill_value_categorical=None,
                                fill_value_numerical=None,
                                numeri...
                              max_delta_step=0, max_depth=9, min_child_weight=1,
                              missing=nan, monotone_constraints='()',
                              n_estimators=153, n_jobs=-1, num_parallel_tree=1,
                              objective='reg:squarederror', random_state=123,
                              reg_alpha=1.008430031524327e-08,
                              reg_lambda=0.0005714018386876504,
                              scale_pos_weight=3.8013713546631984,
                              subsample=0.8980414500809213, tree_method='auto',
                              validate_parameters=1, verbosity=0)]],
         verbose=False)

In [52]:
data_unseen.drop(['Item_Outlet_Sales'],inplace=True,axis=1)

In [53]:
unseen_predictions = predict_model(deployement, data=data_unseen)
unseen_predictions.head()

,Identifier_Of_Item,Weight_Of_Item,Content_Of_Fat,Visibility_Of_Item,MRP_Of_Item,Identifier_Of_Outlet,Outlet_Establishment_Year,Store_Capacity,Outlet_Location_Type,Outlet_Type,IsNewCust,IsSpecialDay,Advertising_Of_Item,Population_Density,Product_Packing,Discount_Of_Item,Type_Of_Item_Combined,Label
0,FDP36,10.395,Regular,0.000000,51.4008,OUT018,2009,Medium,Tier3,Supermarket Type2,New,Christmas,yes,Level1,good,Yes,Food,837.402283
1,DRI11,8.260,Low Fat,0.034238,113.2834,OUT027,2010,Medium,Tier3,Supermarket Type3,Old,Pongal,yes,Level1,good,No,Drinks,2748.104492
2,DRZ11,8.850,Regular,0.113124,122.5388,OUT018,2009,Medium,Tier3,Supermarket Type2,Old,Regular sale,yes,Level3,good,0,Drinks,1782.984497
3,FDB34,15.250,Low Fat,0.026481,87.6198,OUT027,2010,Medium,Tier3,Supermarket Type3,Old,Regular sale,yes,Level3,good,Yes,Food,2240.519287
4,DRK35,8.365,Low Fat,0.071958,38.0506,OUT049,2019,Medium,Tier1,Supermarket Type1,New,Saturday sale,yes,Level2,bad,No,Drinks,677.758667

In [54]:
unseen_predictions.head(50)

,Identifier_Of_Item,Weight_Of_Item,Content_Of_Fat,Visibility_Of_Item,MRP_Of_Item,Identifier_Of_Outlet,Outlet_Establishment_Year,Store_Capacity,Outlet_Location_Type,Outlet_Type,IsNewCust,IsSpecialDay,Advertising_Of_Item,Population_Density,Product_Packing,Discount_Of_Item,Type_Of_Item_Combined,Label
0,FDP36,10.395,Regular,0.000000,51.4008,OUT018,2009,Medium,Tier3,Supermarket Type2,New,Christmas,yes,Level1,good,Yes,Food,837.402283
1,DRI11,8.260,Low Fat,0.034238,113.2834,OUT027,2010,Medium,Tier3,Supermarket Type3,Old,Pongal,yes,Level1,good,No,Drinks,2748.104492
2,DRZ11,8.850,Regular,0.113124,122.5388,OUT018,2009,Medium,Tier3,Supermarket Type2,Old,Regular sale,yes,Level3,good,0,Drinks,1782.984497
3,FDB34,15.250,Low Fat,0.026481,87.6198,OUT027,2010,Medium,Tier3,Supermarket Type3,Old,Regular sale,yes,Level3,good,Yes,Food,2240.519287
4,DRK35,8.365,Low Fat,0.071958,38.0506,OUT049,2019,Medium,Tier1,Supermarket Type1,New,Saturday sale,yes,Level2,bad,No,Drinks,677.758667
5,FDY45,17.500,Low Fat,0.026016,255.8356,OUT027,2010,Medium,Tier3,Supermarket Type3,New,Sunday sale,yes,Level2,bad,Yes,Food,6038.863770
6,FDH35,18.250,Low Fat,0.000000,164.7526,OUT045,2002,Small,Tier2,Supermarket Type1,New,Sunday sale,yes,Level1,0,Yes,Food,2432.212402
7,NCL18,18.850,Non-Edible,0.293418,194.6136,OUT019,2010,Small,Tier1,Grocery Store,Old,Saturday sale,yes,Level1,bad,No,Non-Consumable,474.920044
8,FDA44,19.700,Low Fat,0.053213,57.8930,OUT035,2004,Small,Tier2,Supermarket Type1,Old,Sunday sale,no,Level1,bad,Yes,Food,855.718018
9,FDU04,7.930,Low Fat,0.009715,120.0414,OUT019,2010,Small,Tier1,Grocery Store,Old,Saturday sale,no,Level1,bad,Yes,Food,284.541504
10,FDF41,12.150,Low Fat,0.131384,246.0460,OUT049,2019,Medium,Tier1,Supermarket Type1,New,Saturday sale,no,Level1,bad,Yes,Food,3433.149658
11,FDH14,17.100,Regular,0.046770,141.1838,OUT013,2012,High,Tier3,Supermarket Type1,Old,Pongal,yes,Level1,bad,Yes,Food,1927.740112
12,FDY58,11.650,Low Fat,0.040081,227.0694,OUT018,2009,Medium,Tier3,Supermarket Type2,Old,Diwali,yes,Level1,good,No,Food,3131.131836
13,NCF19,13.000,Non-Edible,0.035307,47.5034,OUT017,2007,Small,Tier2,Supermarket Type1,Old,Diwali,yes,Level1,good,No,Non-Consumable,744.682617
14,DRI49,14.150,Low Fat,0.183507,82.4276,OUT046,2014,Small,Tier1,Supermarket Type1,Old,Diwali,yes,Level3,good,No,Drinks,1284.003662
15,FDS52,8.890,Low Fat,0.009163,101.7016,OUT010,2016,Small,Tier3,Grocery Store,Old,Diwali,no,Level2,good,No,Food,264.525177
16,FDH35,18.250,Low Fat,0.059957,165.4526,OUT027,2010,Medium,Tier3,Supermarket Type3,New,Diwali,no,Level2,good,No,Food,4103.165039
17,FDI16,14.000,Regular,0.000000,53.0640,OUT035,2004,Small,Tier2,Supermarket Type1,New,Christmas,no,Level2,good,Yes,Food,863.453491
18,FDB11,16.000,Low Fat,0.060837,226.8404,OUT035,2004,Small,Tier2,Supermarket Type1,New,Christmas,yes,Level2,good,Yes,Food,4169.016602
19,FDX20,7.365,Low Fat,0.042560,226.1720,OUT046,2014,Small,Tier1,Supermarket Type1,New,0,yes,Level2,good,Yes,Food,3706.662354
20,FDU50,5.750,Regular,0.075108,112.8176,OUT013,2012,High,Tier3,Supermarket Type1,New,Regular sale,yes,Level1,0,Yes,Food,1751.244385
21,FDK58,11.350,Regular,0.045166,100.0016,OUT018,2009,Medium,Tier3,Supermarket Type2,New,Pongal,yes,Level1,0,Yes,Food,1570.220093
22,NCB19,6.525,Non-Edible,0.090436,85.0882,OUT049,2019,Medium,Tier1,Supermarket Type1,New,Pongal,yes,Level1,good,No,Non-Consumable,1308.628296
23,NCO07,9.060,Non-Edible,0.017117,211.9560,OUT019,2010,Small,Tier1,Grocery Store,New,Christmas,yes,Level3,good,Yes,Non-Consumable,398.265808
24,FDX21,7.050,Low Fat,0.084555,109.8912,OUT027,2010,Medium,Tier3,Supermarket Type3,New,Pongal,yes,Level2,good,Yes,Food,3125.976807
25,NCU41,18.850,Non-Edible,0.052045,192.1846,OUT035,2004,Small,Tier2,Supermarket Type1,New,Diwali,no,Level2,good,Yes,Non-Consumable,2784.315430
26,FDG29,17.600,Low Fat,0.056245,43.3454,OUT013,2012,High,Tier3,Supermarket Type1,New,Diwali,yes,Level1,good,No,Food,675.799622
27,FDG59,15.850,Low Fat,0.043479,36.7164,OUT017,2007,Small,Tier2,Supermarket Type1,Old,Diwali,yes,Level1,bad,No,Food,677.874207
28,NCZ18,7.825,Non-Edible,0.186033,253.0698,OUT035,2004,Small,Tier2,Supermarket Type1,Old,Christmas,yes,Level1,good,Yes,Non-Consumable,3836.851318
29,NCF07,9.000,Non-Edible,0.031867,101.0016,OUT027,2010,Medium,Tier3,Supermarket Type3,Old,Christmas,yes,Level1,good,Yes,Non-Consumable,2516.207764
30,FDR04,7.075,Low Fat,0.000000,98.0068,OUT018,2009,Medium,Tier3,Supermarket Type2,New,Regular sale,yes,Level1,good,No,Food,1418.872803
31,FDB53,13.350,Low Fat,0.139735,147.5392,OUT045,2002,Small,Tier2,Supermarket Type1,Old,Saturday sale,no,Level1,bad,Yes,Food,2295.232422
32,DRD13,15.000,Low Fat,0.049357,62.6168,OUT017,2007,Small,Tier2,Supermarket Type1,Old,Saturday sale,yes,Level3,bad,Yes,Drinks,1031.859009
33,FDC52,11.150,Regular,0.008327,149.9708,OUT017,2007,Small,Tier2,Supermarket Type1,Old,Saturday sale,yes,Level3,good,Yes,Food,2408.859863
34,FDN60,15.100,Low Fat,0.094697,158.4604,OUT027,2010,Medium,Tier3,Supermarket Type3,Old,Saturday sale,yes,Level2,good,Yes,Food,4127.963867
35,FDC41,15.600,Low Fat,0.204700,76.8670,OUT019,2010,Small,Tier1,Grocery Store,Old,Sunday sale,yes,Level2,0,Yes,Food,243.847733
36,NCO43,5.500,Non-Edible,0.047098,101.3016,OUT046,2014,Small,Tier1,Supermarket Type1,Old,Sunday sale,yes,Level2,0,Yes,Non-Consumable,1727.013306
37,NCA54,16.500,Non-Edible,0.036716,180.0318,OUT045,2002,Small,Tier2,Supermarket Type1,New,Pongal,yes,Level1,bad,Yes,Non-Consumable,2838.491455
38,FDH19,19.350,Low Fat,0.033088,175.4738,OUT046,2014,Small,Tier1,Supermarket Type1,New,Christmas,yes,Level3,good,Yes,Food,2397.003418
39,NCU41,18.850,Non-Edible,0.052136,190.1846,OUT049,2019,Medium,Tier1,Supermarket Type1,New,0,yes,Level2,good,Yes,Non-Consumable,2728.872559
40,FDL51,20.700,Regular,0.047565,213.4876,OUT049,2019,Medium,Tier1,Supermarket Type1,New,Sunday sale,yes,Level2,good,Yes,Food,3362.391357
41,FDH53,20.500,Regular,0.019201,84.3592,OUT046,2014,Small,Tier1,Supermarket Type1,Old,Regular sale,yes,Level1,good,Yes,Food,1287.317993
42,NCE43,12.500,Non-Edible,0.103423,169.9448,OUT035,2004,Small,Tier2,Supermarket Type1,Old,Pongal,yes,Level1,good,Yes,Non-Consumable,2891.784912
43,FDS26,20.350,Low Fat,0.089036,260.5594,OUT027,2010,Medium,Tier3,Supermarket Type3,Old,Pongal,yes,Level1,good,Yes,Food,6143.195312
44,DRI51,17.250,Low Fat,0.042414,173.1764,OUT018,2009,Medium,Tier3,Supermarket Type2,New,Diwali,yes,Level1,good,Yes,Drinks,2362.747070
45,FDX14,13.100,Low Fat,0.131210,74.0354,OUT019,2010,Small,Tier1,Grocery Store,New,Christmas,yes,Level1,good,Yes,Food,234.309402
46,FDO11,8.000,Regular,0.030118,248.8092,OUT027,2010,Medium,Tier3,Supermarket Type3,New,Christmas,yes,Level1,good,No,Food,6362.203613
47,NCP42,8.510,Non-Edible,0.016202,195.2478,OUT017,2007,Small,Tier2,Supermarket Type1,Old,Christmas,yes,Level1,bad,No,Non-Consumable,2991.556152
48,FDV57,15.250,Regular,0.065999,177.9660,OUT049,2019,Medium,Tier1,Supermarket Type1,New,Christmas,yes,Level1,good,No,Food,3531.563721
49,NCG42,19.200,Non-Edible,0.000000,127.8310,OUT045,2002,Small,Tier2,Supermarket Type1,New,Pongal,yes,Level1,bad,No,Non-Consumable,1990.017700

In [55]:
unseen_predictions.tail(50)

,Identifier_Of_Item,Weight_Of_Item,Content_Of_Fat,Visibility_Of_Item,MRP_Of_Item,Identifier_Of_Outlet,Outlet_Establishment_Year,Store_Capacity,Outlet_Location_Type,Outlet_Type,IsNewCust,IsSpecialDay,Advertising_Of_Item,Population_Density,Product_Packing,Discount_Of_Item,Type_Of_Item_Combined,Label
1546,FDK33,17.850,Low Fat,0.018806,214.9560,OUT010,2016,Small,Tier 3,Grocery Store,New,Regular sale,yes,Level 1,good,No,Food,2097.192139
1547,NCZ05,8.485,Non-Edible,0.058250,104.3990,OUT045,2002,Small,Tier 2,Supermarket Type1,Old,Christmas,no,Level 1,good,No,Non-Consumable,2099.829346
1548,FDP24,20.600,Low Fat,0.083342,120.1756,OUT018,2009,Medium,Tier 3,Supermarket Type2,New,Pongal,no,Level 1,good,Yes,Food,2093.671875
1549,FDX46,12.300,Regular,0.101755,58.5562,OUT019,2010,Small,Tier 1,Grocery Store,New,Pongal,yes,Level 1,good,Yes,Food,2100.331055
1550,FDE38,6.520,Low Fat,0.044789,164.0842,OUT018,2009,Medium,Tier 3,Supermarket Type2,New,Regular sale,yes,Level 2,good,No,Food,2113.401123
1551,FDF08,14.300,Regular,0.114170,89.1856,OUT019,2010,Small,Tier 1,Grocery Store,New,Regular sale,yes,Level 2,good,No,Food,2093.135254
1552,FDE39,7.890,Low Fat,0.036339,119.5782,OUT017,2007,Small,Tier 2,Supermarket Type1,New,Sunday sale,no,Level 1,good,No,Food,2105.580811
1553,FDS25,6.885,Regular,0.140226,108.8228,OUT049,2019,Medium,Tier 1,Supermarket Type1,New,Sunday sale,yes,Level 1,good,No,Food,2100.324463
1554,FDI10,8.510,Regular,0.078724,172.4422,OUT018,2009,Medium,Tier 3,Supermarket Type2,New,Sunday sale,yes,Level 1,good,No,Food,2109.106445
1555,FDU35,6.440,Low Fat,0.079200,100.4700,OUT035,2004,Small,Tier 2,Supermarket Type1,New,Sunday sale,yes,Level 1,bad,No,Food,2100.646484
1556,DRL11,10.500,Low Fat,0.080373,158.4946,OUT010,2016,Small,Tier 3,Grocery Store,New,Saturday sale,0,Level 1,good,Yes,Drinks,2096.372803
1557,NCM26,20.500,Non-Edible,0.023031,154.5340,OUT027,2010,Medium,Tier 3,Supermarket Type3,Old,0,yes,Level1,good,Yes,Non-Consumable,2120.038086
1558,FDO11,8.000,Regular,0.030436,249.0092,OUT017,2007,Small,Tier 2,Supermarket Type1,Old,Saturday sale,yes,Level1,good,Yes,Food,2643.759521
1559,FDR52,12.650,Regular,0.076163,190.7846,OUT049,2019,Medium,Tier 1,Supermarket Type1,New,Diwali,yes,Level 1,good,Yes,Food,2127.221191
1560,FDQ32,17.850,Regular,0.046703,122.2388,OUT045,2002,Small,Tier 2,Supermarket Type1,New,Diwali,yes,Level1,good,No,Food,1952.040527
1561,FDE32,20.700,Low Fat,0.048835,36.5506,OUT049,2019,Medium,Tier 1,Supermarket Type1,New,Diwali,yes,Level 3,good,No,Food,2087.676270
1562,FDH02,7.270,Regular,0.020777,88.8488,OUT035,2004,Small,Tier 2,Supermarket Type1,Old,Diwali,yes,Level 3,good,No,Food,2077.415527
1563,FDK60,16.500,Regular,0.093786,98.9068,OUT013,2012,High,Tier 3,Supermarket Type1,Old,Diwali,yes,Level 3,good,No,Food,2009.884155
1564,FDB46,10.500,Regular,0.093310,212.6244,OUT027,2010,Medium,Tier 3,Supermarket Type3,Old,Diwali,yes,Level 3,good,No,Food,2129.613525
1565,FDP57,17.500,Low Fat,0.052190,101.8990,OUT027,2010,Medium,Tier 3,Supermarket Type3,New,Saturday sale,yes,Level 1,good,Yes,Food,2115.684326
1566,NCM41,16.500,Non-Edible,0.035656,91.2120,OUT046,2014,Small,Tier 1,Supermarket Type1,New,Saturday sale,no,Level 1,good,No,Non-Consumable,2100.591797
1567,NCY42,6.380,Non-Edible,0.015248,144.1470,OUT017,2007,Small,Tier 2,Supermarket Type1,New,Pongal,yes,Level 1,good,No,Non-Consumable,2129.202148
1568,FDF20,12.850,Low Fat,0.033214,195.2768,OUT035,2004,Small,Tier 2,Supermarket Type1,New,Pongal,yes,Level 1,good,No,Food,2173.915527
1569,FDV58,20.850,Low Fat,0.121496,197.4452,OUT045,2002,Small,Tier 2,Supermarket Type1,New,Pongal,yes,Level 1,good,No,Food,2117.991211
1570,FDW34,9.600,Low Fat,0.035634,242.9170,OUT049,2019,Medium,Tier 1,Supermarket Type1,New,Diwali,yes,Level 1,good,No,Food,2132.572510
1571,NCZ18,7.825,Non-Edible,0.185167,253.8698,OUT027,2010,Medium,Tier 3,Supermarket Type3,New,Christmas,yes,Level 3,good,Yes,Non-Consumable,2218.426270
1572,FDV08,7.350,Low Fat,0.000000,43.6454,OUT019,2010,Small,Tier 1,Grocery Store,New,Christmas,yes,Level 3,good,Yes,Food,2089.132568
1573,FDU04,7.930,Low Fat,0.005522,122.3414,OUT027,2010,Medium,Tier 3,Supermarket Type3,New,Pongal,no,Level 2,good,No,Food,2141.737549
1574,FDR20,20.000,Regular,0.027988,46.7744,OUT027,2010,Medium,Tier 3,Supermarket Type3,New,Pongal,no,Level 2,good,No,Food,2110.446533
1575,FDV22,14.850,Regular,0.009939,157.8630,OUT046,2014,Small,Tier 1,Supermarket Type1,New,Pongal,no,Level 2,good,No,Food,2139.804199
1576,FDZ14,7.710,Regular,0.047663,121.0756,OUT049,2019,Medium,Tier 1,Supermarket Type1,Old,Diwali,yes,Level 2,good,No,Food,2037.802246
1577,FDH46,6.935,Regular,0.041274,101.6332,OUT035,2004,Small,Tier 2,Supermarket Type1,Old,Diwali,yes,Level 2,good,No,Food,2086.550537
1578,FDN25,7.895,Regular,0.061522,55.3588,OUT017,2007,Small,Tier 2,Supermarket Type1,New,Regular sale,no,Level 1,bad,No,Food,2102.437744
1579,FDU58,6.610,Regular,0.029057,186.9898,OUT049,2019,Medium,Tier 1,Supermarket Type1,Old,Diwali,yes,Level 1,good,Yes,Food,2126.722900
1580,FDK45,11.650,Low Fat,0.033694,114.7860,OUT027,2010,Medium,Tier 3,Supermarket Type3,New,Regular sale,0,Level 1,good,No,Food,2140.520264
1581,NCI31,20.000,Non-Edible,0.081259,36.8190,OUT013,2012,High,Tier 3,Supermarket Type1,Old,Saturday sale,yes,Level 2,good,No,Non-Consumable,2101.523682
1582,FDN50,16.850,Regular,0.026515,93.3120,OUT035,2004,Small,Tier 2,Supermarket Type1,Old,Saturday sale,yes,Level 2,good,No,Food,2096.742432
1583,FDY24,4.880,Regular,0.132847,55.8298,OUT027,2010,Medium,Tier 3,Supermarket Type3,Old,0,no,Level 1,bad,No,Food,2109.445068
1584,FDA39,6.320,Low Fat,0.000000,39.5822,OUT019,2010,Small,Tier 1,Grocery Store,New,Saturday sale,yes,Level 1,good,No,Food,2101.072021
1585,FDI41,18.500,Regular,0.104205,147.0418,OUT010,2016,Small,Tier 3,Grocery Store,New,Pongal,yes,Level 1,good,No,Food,2096.631104
1586,NCH29,5.510,Non-Edible,0.034307,96.0726,OUT027,2010,Medium,Tier 3,Supermarket Type3,Old,Christmas,yes,Level 1,good,No,Non-Consumable,2115.112549
1587,DRM11,6.570,Low Fat,0.066443,259.5278,OUT017,2007,Small,Tier 2,Supermarket Type1,New,Diwali,yes,Level 3,good,Yes,Drinks,2215.234131
1588,FDH16,10.500,Low Fat,0.052545,91.6830,OUT035,2004,Small,Tier 2,Supermarket Type1,New,Christmas,yes,Level 3,good,Yes,Food,2077.415527
1589,FDZ04,9.310,Low Fat,0.038110,61.6510,OUT018,2009,Medium,Tier 3,Supermarket Type2,New,Christmas,yes,Level 3,good,Yes,Food,2066.504150
1590,NCX53,20.100,Non-Edible,0.000000,142.3154,OUT035,2004,Small,Tier 2,Supermarket Type1,New,Christmas,yes,Level 3,good,Yes,Non-Consumable,2074.439941
1591,FDX09,9.000,Low Fat,0.065249,177.0370,OUT046,2014,Small,Tier 1,Supermarket Type1,New,Christmas,yes,Level 3,good,Yes,Food,2151.028320
1592,NCW05,20.250,Non-Edible,0.148676,107.8938,OUT018,2009,Medium,Tier 3,Supermarket Type2,New,Christmas,yes,Level 3,good,Yes,Non-Consumable,2122.242920
1593,DRC49,8.670,Low Fat,0.065703,143.8128,OUT018,2009,Medium,Tier 3,Supermarket Type2,Old,Christmas,yes,Level 2,good,No,Drinks,2112.517578
1594,FDP44,16.500,Regular,0.080164,104.5332,OUT017,2007,Small,Tier 2,Supermarket Type1,New,Regular sale,yes,Level 1,good,Yes,Food,2099.302490
1595,FDC48,9.195,Low Fat,0.015782,81.0592,OUT027,2010,Medium,Tier 3,Supermarket Type3,New,Diwali,yes,Level 1,good,Yes,Food,2110.326660